/**
 * Demo page
 */
body {
  background-image: url('../docs/assets/images/bg.jpg');
  background-size: cover;
  background-position: center;
}

.logo {
  position: absolute;
  width: 90px;
  height: 30px;
  background-image: url('../docs/assets/images/sad-logo.png');
  background-repeat: no-repeat;
  left: 1.5rem;
  top: 0.75rem;
  z-index: -1;
  opacity: 0.25;
}

.docs {
  display: block;
  position: absolute;
  font-size: 40px;
  cursor: pointer;
  width: 1em;
  height: 1em;
  right: 1.5rem;
  top: 0.75rem;
  background-image: url('../docs/assets/images/book.png');
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  text-align: center;
  padding: 2em;

  // Main footer message
  .footer-main {
    font-size: 18px;
    margin-bottom: 5px;
  }
}

.external-link {
  color: #01a7d2;

  &:hover {
    color: #cae7e7;
  }
}

.github-link {
  padding-left: 1.5em;
  background-image: url('../docs/assets/images/github.svg');
  background-repeat: no-repeat;
  background-position: left center;
}

h1 {
  text-align: center;
  color: #c3c3c3cc;
  text-shadow:
    #fff -1px -1px 0,
    #333 1px 1px 0;
}
