$icon-font-name: 'Glyphicons Halflings';
$icon-font-path: '../assets/fonts/glyphicons/glyphicons-halflings-regular';

@font-face {
  font-family: $icon-font-name;
  src: url($icon-font-path + '.eot');
  src:
    url($icon-font-path + '.eot?saaa#iefix') format('embedded-opentype'),
    url($icon-font-path + '.ttf?saaa') format('truetype'),
    url($icon-font-path + '.woff?saaa') format('woff'),
    url($icon-font-path + '.svg?saaa') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-envelope {
  &:before {
    content: '\2709';
  }
}
.glyphicon-eject {
  &:before {
    content: '\e078';
  }
}
.glyphicon-step-backward {
  &:before {
    content: '\e069';
  }
}
.glyphicon-fast-backward {
  &:before {
    content: '\e070';
  }
}
.glyphicon-backward {
  &:before {
    content: '\e071';
  }
}
.glyphicon-play {
  &:before {
    content: '\e072';
  }
}
.glyphicon-pause {
  &:before {
    content: '\e073';
  }
}
.glyphicon-stop {
  &:before {
    content: '\e074';
  }
}
.glyphicon-forward {
  &:before {
    content: '\e075';
  }
}
.glyphicon-fast-forward {
  &:before {
    content: '\e076';
  }
}
.glyphicon-step-forward {
  &:before {
    content: '\e077';
  }
}
.glyphicon-headphones {
  &:before {
    content: '\e035';
  }
}
.glyphicon-volume-off {
  &:before {
    content: '\e036';
  }
}
.glyphicon-volume-down {
  &:before {
    content: '\e037';
  }
}
.glyphicon-volume-up {
  &:before {
    content: '\e038';
  }
}

.glyphicon-plus {
  &:before {
    content: '\2b';
  }
}
.glyphicon-remove {
  &:before {
    content: '\e014';
  }
}
.glyphicon-link {
  &:before {
    content: '\e144';
  }
}
.glyphicon-star {
  &:before {
    content: '\e006';
  }
}
.glyphicon-heart {
  &:before {
    content: '\e005';
  }
}
.glyphicon-fullscreen {
  &:before {
    content: '\e140';
  }
}
