@use 'sass:math';
@import '../assets/icons-media-controls.css';

//
// Mixins.
//

/**
 * Visibility animation.
 */
@mixin visibility-transition() {
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}
@mixin visible-element() {
  @include visibility-transition();
}
@mixin hidden-element() {
  opacity: 0;
  visibility: hidden;
  @include visibility-transition();
}

//
// Modifiers.
//

/**
 * The element is clipped outside its own border.
 * Suitable for 'media-player-item' with vertical volume slider.
 */
.clipped-element {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); // Hide all out of border.
}

/**
 * Pointer for clickable element.
 */
.clickable-element {
  cursor: pointer;
}

//
// Media player.
//

/**
 * Media player container.
 */
.media-player-item {
  position: relative;
  display: flex;
  // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); // Hide all out of border.
  color: #fff;
  font-size: 14px;
  min-width: 20em;
  $panel-size: 3.25em; // 40px;

  // Full-screen mode modifications.
  &.fullscreen-on {
    font-size: 16px;

    .time-pointer {
      // Stripe under the pointer (Полоска под бегунком указателя).
      &:before {
        background-color: rgba(255, 255, 255, 0.25);
      }
    }
  }

  // Hide with fade.
  .hidden-element {
    @include hidden-element();
  }

  // Analyzer.
  .analyzer {
  }

  // Poster image.

  .poster {
    width: 100%;
    min-height: 2 * $panel-size;
    background-size: cover;
    // object-fit: contain; // fill;
  }

  .frame-aspect-ratio-4x3 {
    aspect-ratio: 4 / 3;
  }

  .frame-aspect-ratio-16x9 {
    aspect-ratio: 16 / 9;
  }

  // Audio analyzer.

  .analyzer {
    position: absolute;
    width: 100%;
    height: $panel-size;
    bottom: $panel-size;
    @include visible-element();
  }

  // Controls section.

  .controls {
    position: absolute;
    width: 100%;
    height: $panel-size;
    bottom: 0;
    display: flex;
    gap: 0.5em;
    padding: 0 0.5em;
    align-items: center;
    box-sizing: border-box;
    @include visible-element();
  }

  // Timers.

  .timer {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5em;
    background-color: #000a;
    border-radius: 3px;
  }

  // Time pointer.
  $fader-size: 1em;
  $knob-size: 1.25em;

  .time-pointer {
    // position: relative; // Assigned automatically.
    width: 100%;
    height: 100%;
    margin: 0 math.div($knob-size, 2);
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;

    // Stripe under the pointer (Полоска под бегунком указателя).
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: $fader-size;
      border-radius: $fader-size;
      background-color: #000000bf;
    }
  }

  // Pointer knob fader.
  .time-pointer-knob {
    height: $fader-size;
    border-radius: $fader-size;
    background-color: #ffffff82;
  }

  // Pointer knob (Кнопка бегунка указателя).
  .time-pointer-knob::after {
    content: '';
    position: absolute;
    display: block;
    right: - math.div($knob-size, 2);
    top: math.div($fader-size, 2) - math.div($knob-size, 2);
    width: $knob-size;
    height: $knob-size;
    border-radius: 100%;
    background-color: #fff;
  }

  // Button.

  .button {
    min-width: 1.75em;
    min-height: 1.75em;
    font-size: 1.25em;
    border-radius: 100%;
    margin: 0; // auto;
    padding: 0;
    background-color: #000000bf;
    border: none;
    color: #fff;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: #ffffff44;
    }
    // Pressed.
    &:active {
      background-color: #ffffffbf;
    }
    &:focus {
      outline: none;
    }

    // When positioned on the right/left.
    &:first-child {
      // margin-left: 1em;
    }
    &:last-child {
      // margin-right: 1em;
    }

    // Fullscreen:
    &.fullscreen-off {
      .media-controls-icon {
        &:before {
          content: '\e989'; // to Fullscreen
        }
      }
    }
    &.fullscreen-on {
      .media-controls-icon {
        &:before {
          content: '\e98a'; // return from Fullscreen
        }
      }
    }

    // Play:
    &.play {
      .media-controls-icon {
        &:before {
          content: '\ea1d'; // then show pause
        }
      }
    }
    &.pause {
      .media-controls-icon {
        &:before {
          content: '\ea1c'; // then show play
        }
      }
    }
    &.ended {
      .media-controls-icon {
        &:before {
          content: '\ea1c'; // then show play
          //content: '\ea1e'; // stop
        }
      }
    }
    &.error {
      background-color: #ff0000bf;
    }

    // Volume:
    &.muted {
      .media-controls-icon {
        &:before {
          content: '\ea2a'; // off
        }
      }
    }
    &.volume-very-low {
      .media-controls-icon {
        &:before {
          content: '\ea29'; // very low
        }
      }
    }
    &.volume-low {
      .media-controls-icon {
        &:before {
          content: '\ea28'; // low
        }
      }
    }
    &.volume-medium {
      .media-controls-icon {
        &:before {
          content: '\ea27'; // medium
        }
      }
    }
    &.volume-high {
      .media-controls-icon {
        &:before {
          content: '\ea26'; // high
        }
      }
    }
  }

  // Volume.

  .volume-slider {
    position: absolute;
    width: 100%;
    background-color: #000000bf;
    cursor: pointer;
    bottom: $panel-size;

    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-out;

    &.active {
      visibility: visible;
      opacity: 1;
    }

    &.vertical {
      width: $panel-size * 1.25;
      height: calc(100% - #{$panel-size});
      top: 0;
      right: 0;

      .volume-level {
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
        width: 1em;
      }
      .volume-value {
        padding: 0.5em 1.25em;
      }
    }
  }

  // Appearance effects.
  .fx-slide-up {
    transform: translateY(100%);
    &.active {
      transform: translateY(0);
    }
  }

  .fx-slide-left {
    transform: translateX(100%);
    &.active {
      transform: translateX(0);
    }
  }

  .fx-slide-right {
    transform: translateX(-100%);
    &.active {
      transform: translateX(0);
    }
  }

  .volume-level {
    position: absolute;
    top: 0;
    left: 0;
    height: 1em;
    background-color: #0f04;
  }

  .volume-value {
    user-select: none;
    padding: 1.25em 1em 0.5em;
    text-align: right;
  }

  .volume-value::after {
    content: '%';
    font-size: smaller;
    opacity: 0.5;
    margin-left: 0.15em;
  }

  // Level meter modifiers.

  .vertical-level {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 50%, lime 50%);
    background-size: 4px 4px;
  }

  .horizontal-level {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, lime 50%);
    background-size: 4px 4px;
  }
}

/**
 * Media player list.
 */
.media-player-list {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
}
