@import 'glyphicons';

/**
 * Media player list.
 */
.media-player-list {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
}

/**
 * List item.
 */
.media-player-item {
  position: relative;
  width: 400px;
  // min-width: 400px;
  // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); // Hide all out of border.
  color: #fff;

  // Analyzer.
  .analyzer {
  }

  // Poster image.

  .poster {
    width: 100%;
    aspect-ratio: 4 / 3;
    background-size: cover;
  }

  // Audio analyzer.

  .analyzer {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 40px;
  }

  // Controls section.

  .controls {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
    display: flex;
    align-items: center;
  }

  // Timers.

  .timer {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin: auto 0.5em;
    padding: 0 0.5em;
    background-color: #000a;
  }

  // Time pointer.

  .time-pointer {
    // position: relative; // Assigned automatically.
    width: 100%;
    height: 100%;
    margin: 0 15px;
    cursor: pointer;
    user-select: none;

    // Stripe under the pointer (Полоска под бегунком указателя).
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      top: 14px;
      bottom: 14px;
      border-radius: 15px;
      background-color: #000000bf;
    }
  }

  .time-pointer-knob {
    top: 15px;
    bottom: 15px;
    border-radius: 15px;
    background-color: #ffffff82;
  }

  .time-pointer-knob::after {
    content: '';
    position: absolute;
    display: block;
    right: -7.5px;
    top: -2.5px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #fff;
  }

  // Button.

  .button {
    min-width: 25px;
    min-height: 25px;
    border-radius: 100%;
    margin: auto;
    background-color: #000000bf;
    border: none;
    color: #fff;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: #ffffff44;
    }
    // Pressed.
    &:active {
      background-color: #ffffffbf;
    }

    // When positioned on the right/left.
    &:first-child {
      margin-left: 1em;
    }
    &:last-child {
      margin-right: 1em;
    }

    // Play:
    &.play {
      .glyphicon {
        &:before {
          content: '\e073'; // then show pause
        }
      }
    }
    &.pause {
      .glyphicon {
        &:before {
          content: '\e072'; // then show play
        }
      }
    }
    &.ended {
      .glyphicon {
        &:before {
          content: '\e072'; // then show play
          //content: '\e074'; // stop
        }
      }
    }
    &.error {
      background-color: #ff0000bf;
    }

    // Volume:
    &.muted {
      .glyphicon {
        &:before {
          content: '\e036'; // off
        }
      }
    }
    &.volume-down {
      .glyphicon {
        &:before {
          content: '\e037'; // down
        }
      }
    }
    &.volume-up {
      .glyphicon {
        &:before {
          content: '\e038'; // up
        }
      }
    }
  }

  // Volume.

  .volume-slider {
    position: absolute;
    width: 100%;
    background-color: #000000bf;
    cursor: pointer;
    bottom: 40px;

    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-out;

    &.active {
      visibility: visible;
      opacity: 1;
    }

    &.vertical {
      width: 50px;
      height: calc(100% - 40px);
      right: 0;

      .volume-level {
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
        width: 10px;
      }
      .volume-value {
        padding: 0.5em 15px;
      }
    }
  }

  // Appearance effects.
  .fx-slide-up {
    transform: translateY(100%);
    &.active {
      transform: translateY(0);
    }
  }

  .fx-slide-left {
    transform: translateX(100%);
    &.active {
      transform: translateX(0);
    }
  }

  .volume-level {
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    background-color: #0f04;
  }

  .volume-value {
    user-select: none;
    font-size: 12px;
    padding: 15px 1em 0.5em;
  }

  .volume-value::after {
    content: '%';
    font-size: smaller;
    opacity: 0.5;
    margin-left: 0.15em;
  }

  // Level meter modifiers.

  .vertical-level {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 50%, lime 50%);
    background-size: 4px 4px;
  }

  .horizontal-level {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, lime 50%);
    background-size: 4px 4px;
  }
}
